
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
   font-family: Poppins;
  
}
h1{
    font-weight: 20;
    
}
.con{
    text-align: center;
    margin-top: 3%;

}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 5%;
}
.con p{
    width: 40%;
    margin-left: 30% ;
    margin-top: 5px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}
.box{
    padding: 12px;
    border-top: 5px solid red;
    border-radius: 12px;
    background-color:white;
    box-shadow: 1px 5px 2px 1px rgba(0,0,0,0.1);
}
.blue{
    border-top: 5px solid rgb(128, 209, 205);
    width: 26%;
}
.yellow{
    border-top: 5px solid rgb(211, 166, 44);
}
.blue1{
    border-top: 5px solid rgb(128, 190, 209);
}
img{
    margin-left: 70%;
    margin-top: 5%;
}
h3{
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 5px;
}
.we{
    width: 75%; 
    font-size: 13px;
    margin-left: 12px;
    font-family: Poppins;
}
@media screen and (max-width: 600px) {
    
    h1{
        font-size: 28px;
    }
    .con p{
        width: 70%;
        margin: auto;
        
    }
    .all{
        flex-direction: column;
        width: 80%; 
    }
    .card{
        flex-direction: column;
        margin-top: 5%;
    }
    .blue{
        width: 90%;
    }
   
        
        
}